.projectInv-inner {
  width: 100%;
  padding-top: 25px;
  h2 {
    text-align: center;
  }
  
  hr {
    margin: 10px 0px 10px;
  }
}

.inv-header {
  margin: 0 auto;
  display: flex;
  max-width: 1140px;
  align-items: flex-end;

  h3 {
    margin-left: 5px;
  }

  label {
    font-size: 20px;
  }

}

.inv {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
}

.projectAuthor-inner {
  padding-top: 25px;
  width: 100%;
  h2 {
    text-align: center;
  }

  hr {
    margin: 10px 0px 10px;
  }
}
.authors-projects-form {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
}